@font-face {
    font-family: "iconfont"; /* Project id 4016328 */
    src: url('//at.alicdn.com/t/c/font_4016328_0xqf91p99qna.woff2?t=1681460556652') format('woff2'),
         url('//at.alicdn.com/t/c/font_4016328_0xqf91p99qna.woff?t=1681460556652') format('woff'),
         url('//at.alicdn.com/t/c/font_4016328_0xqf91p99qna.ttf?t=1681460556652') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-xiaoxi:before {
    content: "\ec08";
  }
  
  .icon-chazhao:before {
    content: "\ec09";
  }
  
  .icon-dianzan:before {
    content: "\ec0a";
  }
  
  .icon-jingshi:before {
    content: "\ec0b";
  }
  
  .icon-riqi:before {
    content: "\ec0c";
  }
  
  .icon-shezhi:before {
    content: "\ec0d";
  }
  
  .icon-tishi:before {
    content: "\ec0e";
  }
  
  .icon-biaoqian:before {
    content: "\ec0f";
  }
  
  .icon-qianbao:before {
    content: "\ec10";
  }
  
  .icon-youxi:before {
    content: "\ec11";
  }
  
  .icon-yuyin:before {
    content: "\ec12";
  }
  
  .icon-dayin:before {
    content: "\ec13";
  }
  
  .icon-guanbi:before {
    content: "\ec14";
  }
  
  .icon-hongbao:before {
    content: "\ec15";
  }
  
  .icon-shipin:before {
    content: "\ec16";
  }
  
  .icon-suo:before {
    content: "\ec17";
  }
  
  .icon-faxian:before {
    content: "\ec18";
  }
  
  .icon-naozhong:before {
    content: "\ec19";
  }
  
  .icon-shanchu:before {
    content: "\ec1a";
  }
  
  .icon-tongzhi:before {
    content: "\ec1b";
  }
  
  .icon-tupian:before {
    content: "\ec1c";
  }
  
  .icon-erji:before {
    content: "\ec1d";
  }
  
  .icon-gouwu:before {
    content: "\ec1e";
  }
  
  .icon-liwu:before {
    content: "\ec1f";
  }
  
  .icon-xihuan:before {
    content: "\ec20";
  }
  
  .icon-youhuiquan:before {
    content: "\ec21";
  }
  
  .icon-ziliao:before {
    content: "\ec22";
  }
  
  .icon-duanxin:before {
    content: "\ec03";
  }
  
  .icon-fenxiang:before {
    content: "\ec04";
  }
  
  .icon-saomiao:before {
    content: "\ec05";
  }
  
  .icon-shoucang:before {
    content: "\ec06";
  }
  
  .icon-xiangji:before {
    content: "\ec07";
  }
  