@charset "UTF-8";

.bgVideo {
  z-index: -1;
  width: 100%;
  position: fixed;
}

 /* 自定义滚动条样式 */
 ::-webkit-scrollbar{
  /* 滚动条整体样式 */
  width: 5px;
  height: 10px;
}
/* 滚动条里的小方块 */
::-webkit-scrollbar-thumb{
  border-radius: 6px;
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.2);
  background-color: #25A4BB;
}
/* 滚动条里的轨道 */
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #DCDFE6;
}
/* body{width: 100vw;overflow: scroll;padding-left: calc(100vw - 100%);}  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  overflow-y: scroll;
}

body {
  /* padding-right: 6px; */
  font-size: 1.3rem;
  /* font-family: tahoma, arial, "Hiragino Sans GB", "宋体", sans-serif; */
  font-family: 'Times New Roman', Times, serif, arial, "Hiragino Sans GB", "宋体", sans-serif;
  /* background-color: #f2f2f2 !important; */
  
/* 加载背景图 */
/* background-image: url('https://image.personalblog.cn/admin-1680083054020'); */
/* background-image: url('./image/bggezi.jpg'); */
/* 背景图垂直、水平均居中 */
background-position: center center;
/* 背景图不平铺 */
background-repeat: no-repeat;
/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
background-attachment: fixed;
/* 让背景图基于容器大小伸缩 */
background-size: cover;
/* 设置背景颜色，背景图加载过程中会显示背景色 */
background: linear-gradient(to right, #c2e59c, #64b3f4); 


}
#nprogress .bar { 
  /* //自定义颜色 */
  background: #153862;
  height: 5px !important;
}

ul,
ol,
dl {
  list-style: none;
}

i,
s {
  font-style: normal;
  text-decoration: none;
}

fieldset,
input,
img,
input,
button,
textarea {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  color: '';
  text-decoration: none;
}

a:hover {
  color: '';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* 版心 */
.w {
  width: 119rem;
  margin: 0 auto;
}

/* v-html 富文本样式 */
/* table 样式 */
table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

table td,
table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}

table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}

/* blockquote 样式 */
blockquote {
  word-wrap: break-word;
  word-break: break-all;
  display: block;
  border-left: 8px solid #d0e5f2;
  padding: 5px 10px;
  margin: 10px 0;
  line-height: 1.4;
  font-size: 100%;
  background-color: #f1f1f1;
}

/* code 样式 */
code {
  color: #ABB2B2;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #282C34;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 3px;
  /* word-wrap: break-word;
  word-break: break-all; */
}

pre code {
  display: block;
  width: auto;
  overflow-x: scroll;

}

/* ul ol 样式 */
ul,
ol {
  margin: 10px 0 10px 20px;
}

.el-message {
  z-index: 99999999 !important;

}

/* img {
  padding: 10px 0;
  border: none;
  width: 80rem;
  object-fit: contain;
} */

video {
  width: 80rem;
  object-fit: contain;
}

code {
  overflow-x: scroll
}

;